
body {
	font-family: 'Roboto', sans-serif;
	background-color: #BDBDBD;
}

#header {
width: 100%;
position: fixed;
top:0px;
left:0px;
/*border-style: solid;*/
background-color: #212121;
box-sizing: border-box;
padding:10px;
z-index: 1000;
display: flex;
justify-content: center;
}

#header > *{
	color: white;
	margin:0px;
	margin-left: 50px;
}

.body-content {
	margin-top:50px;

}

.intro{
	display: flex;
	justify-content: center;
}

.introtext{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container {
	width:100%;
	position: relative;
	/*border-width: 3px;
	border-style: solid;*/
	box-sizing: border-box;
	padding-top: 800px;
	border-color: red;
	margin-bottom:1000px;
	padding-left:50px;
}



.section{
	
	margin-bottom: 400px;
	opacity: 0.5;
}


.section.active{
	opacity: 1;
}

#graph {
	box-sizing: border-box;
	/*border-style: solid;
	border-width:3px;*/
	padding:0;
	background-color: white;
	background-color: #F5F5F5;
}

/*#thresholdTop, #thresholdBottom {
	position: fixed;
	border-style: solid;
	border-width:1px;
	width:100%;
	opacity: 0.5;
}*/


.axis {
  font: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}


.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.circle {
  fill: none;
  stroke: black;
  opacity: 0.3;
}

.axis-title{
  fill: black;
}